@page "/"
@using SolveIt.Services
@inject SolveIt.Services.QuestionService QuestionService
@inject SolveIt.UI_state.UiStateService UiState
@layout SolveIt.Components.Layout.MainLayout



@{
}

<div>
	Dashboard
</div>